*,
*::before,
*::after {
  font-family: Montserrat,sans-serif;
  box-sizing: border-box;
  flex-shrink: 0; }

html, body {
  overflow: hidden; }

body {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  margin: 0;
  background-color: #0b0c0e;
  color: white;
  font-size: 12px;
  user-select: none; }

#content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #0b0c0e url(../imgs/bg1.png) center bottom no-repeat;
  background-size: contain; }

#renderer {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  /* width: 100% !important; */
  /* height: 100% !important; */
  margin: auto; }

#title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px; }
  #title > div {
    display: flex;
    align-items: center; }
  #title img {
    margin: -15px 0px;
    margin-left: -5px;
    height: 60px; }
  #title h3 {
    position: relative;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.875);
    font-size: 16px;
    font-weight: 400; }
    @media (max-width: 767.98px) {
      #title h3 {
        font-size: 14px; } }
    #title h3::before {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      display: block;
      position: absolute;
      background-image: linear-gradient(to top, rgba(11, 12, 14, 0.375), transparent 62.5%); }

#guide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px; }
  #guide > img {
    margin-top: -10px;
    width: auto;
    height: 35px; }
  #guide div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 0px;
    height: 15px;
    margin-left: 5px; }
  #guide span {
    position: absolute;
    color: rgba(255, 255, 255, 0.75);
    mix-blend-mode: overlay;
    white-space: nowrap; }

#frame {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh; }
  @media (orientation: portrait) {
    #frame {
      height: 100vw; } }
  @media (orientation: landscape) {
    #frame {
      width: 100vh; } }

#variants {
  position: absolute;
  bottom: 30px;
  right: 2.5px;
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  mix-blend-mode: screen; }
  #variants > div {
    width: 100%;
    padding-right: 10px;
    color: gray;
    font-size: 8px;
    text-align: right; }
  #variants > img {
    width: 40px;
    height: 40px;
    margin: 0 -2.5px;
    cursor: pointer; }
